<!doctype html>
<html>
<head>
	<title>3Scape Profile</title>
	<meta name="description" content="Kids learn by making 3D contraptions powered by physics.">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

	<%- include('dialogs/delete') %>
<div class="container">

	<h1 class="row">
		<a href="#">
			<img src="images/banner.png" class="banner visible-lg" alt="3Scape Banner" />
			<img src="images/minimal-banner-template-blue.png" class="banner hidden-lg" alt="3Scape Banner" />
		</a>
	</h1>
		<% if (typeof error_message != 'undefined' && error_message.length > 0) { %>
		<div class="alert alert-danger"><%= error_message %></div>
		<% } %>
		<div class="row">
			<a class="edit pull-right" href="logout">Sign Out</a>
			<a class="edit pull-left" onclick='deleteProfile()'>Delete Profile</a>
			<a class="edit pull-left" href="#">Edit Profile</a>
			<a class="edit" href="/">Go 3Scape</a>
		</div>

		<div id="hexagon" class="row">
		</div>

		<div id="info" class="row">
			<div class="col-md-12"><strong>email</strong>: <%= creator.email %><br></div>
			<div class="col-md-12"><strong>scapes</strong>: <%= scapes.length %><br></div>
		</div>

		<div id="category" class="row">
		</div>

		<div id="scapes">

				<% for (i = 0; i < scapes.length; i++) { %>

						<div class="scape col-md-4 col-sm-6">
							<a href="/<%- scapes[i].scapeRef %>"><img src="images/puppy.jpg" class="img-thumbnail"/></a>
						</div>

				<% } %>
		</div>

</div>

</body>
<script>

function deleteProfile () {
	$(".delete").modal("show");
}
</script>
</html>
