<html>
	<head>
		<title>3Scape - Build. Play. Learn.</title>
		<meta name="description" content="Kids learn by making 3D contraptions powered by physics.">
		<meta http-equiv="x-ua-compatible" content="IE=10">
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/snappy.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="css/actionsbar.css">
		<link rel="stylesheet" type="text/css" href="css/slider.css">
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/raphael/raphael-min.js"></script>
		<script type="text/javascript" src="js/eventHandlers.js"></script>
		<script type="text/javascript" src="js/colorwheel.js"></script>
    <script type="text/javascript" src="js/jogDial.js"></script>
    <script type="text/javascript" src="js/tablet-resize.js" ></script>
    <script type="text/javascript" src="js/barscroll.js"></script>
    <script src="js/hammer-min.js"></script>

	</head>
    
	
	<body class="container-fluid" onresize="resize();">


		<div class="navbar-fixed-top" >
    	   <%- include('viewcontrols/partsbar'); %>
		</div>

		<%- include('dialogs/registration') %>

		<%- include('dialogs/payment') %>


		<div id="BwContainer" onclick="handleMouse(event);"
				 onmousedown="handleMouse(event);" onmouseup="handleMouse(event);"
				 onmousemove="handleMouse(event);" ondblclick="handleMouse(event);">
			<canvas id="Canvas" oncontextmenu="return false;">

			</canvas>
		</div>

		<div class="navbar-fixed-bottom">
			<%- include('viewcontrols/actionsbar') %>
		</div>

		<%- include('dialogs/getstarted') %>


		<script type="text/javascript" src="js/snappy.js"></script>
		
    <script type="text/javascript">

			document.onreadystatechange = function () {
				if (document.readyState == "complete") {

					var s = "";
					var r = "";

					<% if (typeof scape != 'undefined') { %>
						s = '<%- scape %>';
						s = s.replace('\\', '');
					<% } %>

					<% if (typeof scapeRef != 'undefined') { %>
						r = '<%- scapeRef %>';
					<% } %>


					start3Scape(s, r);

					addActionControls();

					document.onmousemove 	= handleDocMove;
					document.onkeydown 		= handleKey;

					window.addEventListener("beforeunload", save3Scape);

					<% if (typeof verified != 'undefined') { %>
						document.onkeydown = ""; 	// keep 3Scape from grabbing all the keys
						$(".payment").modal("show");
					<% } %>
					// These will not both be defined at the same time ^^ vv
					<% if (typeof anonymous != 'undefined') { %>
						setTimeout(function () {
							document.onkeydown = ""; 	// keep 3Scape from grabbing all the keys
							$(".registration").modal("show");
						}, 600); // set to 600000 for production

					<% } %>

					setTimeout(function () {
						if (countParts() == 0) {	// If there aren't any parts after 20 seconds prompt 3Scaper.
																			// There might be better or other indicators.
							document.onkeydown = ""; 	// keep 3Scape from grabbing all the keys
							$(".getstarted").modal("show");
						}
					}, 20000);

				}
			}
		</script>

		<script type="text/javascript" src="js/Bridgeworks-min.js"></script>
		<script type="text/javascript" src="js/BwHelper.js"></script>
		<script type="text/javascript" src="js/crossbrowser.js"></script>
		<script type="text/javascript" src="js/scenes.js"></script>
		<script type="text/javascript" src="js/MapControls.js"></script>
		<script type="text/javascript" src="js/objectmode.js"></script>
		<script type="text/javascript" src="js/bootstrap-slider.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-26989160-5', 'auto');
			ga('send', 'pageview');

		</script>
        <script>
            //add hammer.js swipe functions to actions and parts bars
            $(document).ready(function(){
                var topbar = $('.navbar-fixed-top'),
                    bottombar = $('.navbar-fixed-bottom'),
                    hammertop = new Hammer(topbar.get(0)),
                    hammerbottom = new Hammer(bottombar.get(0));
                hammertop.get('pan').set({ direction: Hammer.DIRECTION_ALL });
                hammertop.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
                hammertop.on('swipedown', function(ev) {
                    console.log('swipe down detected');
                    $('.logo, .parts, .nav-menu').css({top:"100px"});
                });
                 hammertop.on('swipeup', function(ev) {
                       console.log('swipe up detected');
                    $('.logo, .parts, .nav-menu').css({top:"-100px"});
                    console.log('animated');
                });
                hammerbottom.on('swipedown', function(ev) {
                    console.log('swipe down detected');
                    $('.palette').css({top:"110px"});
                });
                 hammerbottom.on('swipeup', function(ev) {
                       console.log('swipe up detected');
                    $('.palette').css({top:"-110px"});
                    console.log('animated');
                });
            });
        </script>
        <script>
            $(document).ready(function(){
                //prevent hover animation until initial animation completes
                var hoverable = $('.navbar-fixed-bottom, .navbar-fixed-top'),
                    animated = $('.actions-bar, .parts-bar');
                animated.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                function(e) {
                // code to execute after animation ends
                    hoverable.addClass('hover');
                });
            });

        </script>
	</body>
</html>
